<div class="d-flex align-items-center vh-100">
    <div class="text-light bg-dark p-5 d-flex justify-content-center flex-column ml-5">
    <p class="display-1">Amendments</p>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-secondary btn-light btn-lg" %>
    </div>
</div>
